h2 {
    font-family:'Times New Roman', Times, serif;
    color:cornflowerblue;
}

h4 {
    font-family: 'Times New Roman', Times, serif;
    color: darkblue;
}

.th {
    color:darkblue;
}

body {
    background-color: bisque;
}